<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Update Individual</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Add style to error message -->
    <style>
        .error{color:red}
    </style>

</head>
<body>
    <div class="container">
        <h3>Individual Directory</h3>
        <hr>
        <p class="h4 mb-4">Update Individual</p>
        <form action="#" th:action="@{/individuals/update}"
                        th:object="${individual}" method="POST">

            <!-- Add hidden form filed to handle the update-->
            <input type="hidden" th:field="*{personId}">

            <label>First Name</label>
            <input type="text" th:field="*{firstName}" class="form-control mb-4 w-25" placeholder="First Name"/>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error">
            </span>
            <br>
            <br>
            <label>Middle Name</label>
            <input type="text" th:field="*{middleName}"
                   class="form-control mb-4 w-25" placeholder="Middle Name">

            <label>First Last Name</label>
            <input type="text" th:field="*{firstLastName}"
                   class="form-control mb-4 w-25" placeholder="First Last Name">

            <label>Second Last Name</label>
            <input type="text" th:field="*{secondLastName}"
                   class="form-control mb-4 w-25" placeholder="Second Last Name">


            <label>Email</label>
            <input type="text" th:field="*{email}"
                   class="form-control mb-4 w-25" placeholder="Email">

            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}"
                   class="form-control mb-4 w-25" placeholder="Phone Number, 10 digits">


            <label>Marital Status</label>
            <br>
            <select th:field="*{maritalStatus}">
                <option selected="selected" value="*{maritalStatus}"></option>
                <option value="Single">Single</option>
                <option value="LivingTogether">LivingTogether</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
                <option value="Unknown">Unknown</option>
            </select>
            <br>
            <br>
            <input type="date" th:field="*{birthDate}"
                   class="form-control mb-4 w-25" placeholder="Birth Date">

            <label>Nationality</label>
            <input type="text" th:field="*{nationality}"
                   class="form-control mb-4 w-25" placeholder="Nationality">

            <label>Number Of Dependents</label>
            <input type="text" th:field="*{numberOfDependents}"
                   class="form-control mb-4 w-25" placeholder="Number Of Dependents">

            <label>Divorce Legal Agreement</label>
            <br>
            <select th:field="*{divorceLegalAgreement}">
                <option selected="selected" value="*{divorceLegalAgreement}"></option>
                <option value="MaritalSociety">MaritalSociety</option>
                <option value="AssetSeparation">AssetSeparation</option>
                <option value="NA">NA</option>
            </select>
            <br>
            <br>

            <label>Dwelling Type</label>
            <br>
            <select th:field="*{dwellingType}">
                <option selected="selected" value="*{dwellingType}"></option>
                <option value="Owned">Owned</option>
                <option value="FamiliarLoan">FamiliarLoan</option>
                <option value="Familiar">Familiar</option>
                <option value="Rented">Rented</option>
                <option value="OwnedWithMortgage">OwnedWithMortgage</option>
                <option value="NotApplies">NotApplies</option>

            </select>
            <br>
            <br>
            <label>Is Dwelling Free Of Encumbrance</label>
            <input type="text" th:field="*{isDwellingFreeOfEncumbrance}"
                   class="form-control mb-4 w-25" placeholder="Is Dwelling Free Of Encumbrance">

            <label>Occupation</label>
            <input type="text" th:field="*{occupation}"
                   class="form-control mb-4 w-25" placeholder="Occupation">



            <label>Start Date In Current Job</label>
            <input type="date" th:field="*{startDateInCurrentJob}"
                   class="form-control mb-4 w-25" placeholder="start Date In Current Job">

            <label>current Position Name</label>
            <input type="text" th:field="*{currentPositionName}"
                   class="form-control mb-4 w-25" placeholder="current Position Name">

            <label>current Monthly Income</label>
            <input type="number" th:field="*{currentMonthlyIncome}"
                   class="form-control mb-4 w-25" placeholder="current Monthly Income">




            <label>Currency</label>
            <br>
            <select th:field="*{currencyId}">
                <option selected="selected" th:value="*{currencyId}"></option>
                <option th:value="1" >Dollar</option>
                <option th:value="2" >Peso</option>
            </select>
            <br>
            <br>


            <label>Does Biz Activities</label>
            <input type="text" th:field="*{doesBizActivities}"
                   class="form-control mb-4 w-25" placeholder="Does Biz Activities">

            <label>Hiring Type</label>
            <br>
            <select th:field="*{hiringType}">
                <option selected="selected" value="*{hiringType}"></option>
                <option value="NormalPayroll">NormalPayroll</option>
                <option value="ConfidentialPayroll">ConfidentialPayroll</option>
                <option value="Unknown">Unknown</option>
                <option value="ProfessionalServices">ProfessionalServices</option>
            </select>
            <br>
            <br>

            <label>External Employee Number</label>
            <input type="text" th:field="*{externalEmployeeNumber}"
                   class="form-control mb-4 w-25" placeholder="External Employee Number">

            <label>Gender</label>
            <br>

            <select th:field="*{gender}">
                <option selected="selected" value="*{gender}"></option>
                <option value="GenderMale">GenderMale</option>
                <option value="GenderFemale">GenderFemale</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <br>
            <br>
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Last Update</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{lastUpdate}"
                           class="form-control-plaintext"
                           th:attr="name='lastUpdate'" readonly="readonly">
                </div>
            </div>
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Register</label>
                <div class="col-sm-10">
                    <input type="date" th:field="${individual.register}"
                           class="form-control-plaintext"
                           th:attr="name='register'" readonly="readonly">
                </div>
            </div>


            <button type="submit" class="btn btn-info col-2">Update</button>
<!--            <a th:href="@{/individuals/showFormForUpdate(individualId=${tempIndividual.personId})}"-->
<!--               class="btn btn-info col-2">-->
<!--                Update-->
<!--            </a>-->

        </form>

        <hr>
        <a th:href="@{/individuals/list}">Back to Individuals List</a>

    </div>
</body>
</html>